<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Details</title>
</head>
<body>
    {% if question.choise_set.all != '' %}
    <form>
        {% for c in question.choise_set.all %}
            <label for=["c + choise.pk"]><input type="checkbox" id=["c + choise.pk"]>{{c.text}}</label><br>
        {% endfor %}
        <button type="submit">Send</button>
    </form>   
    {% endif %}
</body>
</html>